/**********************************************************************/
/* InstallGalleryServerProSql2000.sql                                                  
                                                                    
 Installs the tables, stored procedures, user-defined functions, and roles necessary for  
 core Gallery Server Pro operation. This script targets SQL Server 2000 (it fails on later versions).
 This script should be run after the Membership SQL scripts.

** Copyright Tech Info Systems, LLC 2008. All Rights Reserved.
*/
/**********************************************************************/

/**********************************************************************/
/*               BEGIN SECTION 1 (AUTO-GENERATED OUTPUT)              */
/*
SECTION 1: Create tables, stored procedures, and user-defined functions. The following script 
was automatically generated by the Database Publishing Wizard set to the following options:
All tables, stored procedures, and user-defined functions beginning with "gs_" were selected;
schema output only; target database = SQL Server 2000; drop objects = true 
NOTE: The auto-generated script included objects whose names started with aspnet_, even though
they weren't selected in the wizard. These objects were manually removed from the script.
Also, the user-defined function gs_func_convert_string_array_to_table had to have the length
of an input parameter changed from MAX to 4000. */
/**********************************************************************/

/****** Object:  ForeignKey [FK_gs_Album_gs_Album]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_gs_Album_gs_Album]') AND type = 'F')
ALTER TABLE [dbo].[gs_Album] DROP CONSTRAINT [FK_gs_Album_gs_Album]
GO
/****** Object:  ForeignKey [FK_gs_Album_gs_Gallery]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_gs_Album_gs_Gallery]') AND type = 'F')
ALTER TABLE [dbo].[gs_Album] DROP CONSTRAINT [FK_gs_Album_gs_Gallery]
GO
/****** Object:  ForeignKey [FK_gs_MediaObject_gs_Album]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_gs_MediaObject_gs_Album]') AND type = 'F')
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [FK_gs_MediaObject_gs_Album]
GO
/****** Object:  ForeignKey [FK_gs_MediaObjectMetadata_gs_MediaObject]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_gs_MediaObjectMetadata_gs_MediaObject]') AND type = 'F')
ALTER TABLE [dbo].[gs_MediaObjectMetadata] DROP CONSTRAINT [FK_gs_MediaObjectMetadata_gs_MediaObject]
GO
/****** Object:  ForeignKey [FK_gs_Role_Album_gs_Album]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_gs_Role_Album_gs_Album]') AND type = 'F')
ALTER TABLE [dbo].[gs_Role_Album] DROP CONSTRAINT [FK_gs_Role_Album_gs_Album]
GO
/****** Object:  Default [DF_gs_Album_Title]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_Album_Title]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_Album] DROP CONSTRAINT [DF_gs_Album_Title]

END
GO
/****** Object:  Default [DF_gs_Album_DirectoryName]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_Album_DirectoryName]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_Album] DROP CONSTRAINT [DF_gs_Album_DirectoryName]

END
GO
/****** Object:  Default [DF_gs_Album_Summary]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_Album_Summary]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_Album] DROP CONSTRAINT [DF_gs_Album_Summary]

END
GO
/****** Object:  Default [DF_gs_Album_ThumbnailMediaObjectId]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_Album_ThumbnailMediaObjectId]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_Album] DROP CONSTRAINT [DF_gs_Album_ThumbnailMediaObjectId]

END
GO
/****** Object:  Default [DF_gs_Album_IsPrivate]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_Album_IsPrivate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_Album] DROP CONSTRAINT [DF_gs_Album_IsPrivate]

END
GO
/****** Object:  Default [DF_gs_MediaObject_Title]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_Title]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_Title]

END
GO
/****** Object:  Default [DF_gs_MediaObject_HashKey]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_HashKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_HashKey]

END
GO
/****** Object:  Default [DF_gs_MediaObject_ThumbnailFilename]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_ThumbnailFilename]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_ThumbnailFilename]

END
GO
/****** Object:  Default [DF_gs_MediaObject_ThumbnailWidth]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_ThumbnailWidth]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_ThumbnailWidth]

END
GO
/****** Object:  Default [DF_gs_MediaObject_ThumbnailHeight]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_ThumbnailHeight]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_ThumbnailHeight]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OptimizedFilename]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OptimizedFilename]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_OptimizedFilename]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OptimizedWidth]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OptimizedWidth]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_OptimizedWidth]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OptimizedHeight]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OptimizedHeight]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_OptimizedHeight]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OriginalFilename]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OriginalFilename]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_OriginalFilename]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OriginalWidth]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OriginalWidth]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_OriginalWidth]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OriginalHeight]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OriginalHeight]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_OriginalHeight]

END
GO
/****** Object:  Default [DF_gs_MediaObject_IsPrivate]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_IsPrivate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] DROP CONSTRAINT [DF_gs_MediaObject_IsPrivate]

END
GO
/****** Object:  StoredProcedure [dbo].[gs_RoleUpdate]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_RoleUpdate]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_RoleUpdate]
GO
/****** Object:  StoredProcedure [dbo].[gs_InitializeGalleryServerPro]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_InitializeGalleryServerPro]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_InitializeGalleryServerPro]
GO
/****** Object:  StoredProcedure [dbo].[gs_SelectRootAlbum]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SelectRootAlbum]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_SelectRootAlbum]
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectInsert]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectInsert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_MediaObjectInsert]
GO
/****** Object:  StoredProcedure [dbo].[gs_SelectChildMediaObjects]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SelectChildMediaObjects]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_SelectChildMediaObjects]
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectUpdate]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectUpdate]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_MediaObjectUpdate]
GO
/****** Object:  StoredProcedure [dbo].[gs_RoleInsert]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_RoleInsert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_RoleInsert]
GO
/****** Object:  StoredProcedure [dbo].[gs_RoleSelect]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_RoleSelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_RoleSelect]
GO
/****** Object:  StoredProcedure [dbo].[gs_AlbumUpdate]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_AlbumUpdate]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_AlbumUpdate]
GO
/****** Object:  StoredProcedure [dbo].[gs_AlbumSelect]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_AlbumSelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_AlbumSelect]
GO
/****** Object:  StoredProcedure [dbo].[gs_GallerySelect]  ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_GallerySelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_GallerySelect]
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectSelect]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectSelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_MediaObjectSelect]
GO
/****** Object:  StoredProcedure [dbo].[gs_AlbumInsert]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_AlbumInsert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_AlbumInsert]
GO
/****** Object:  StoredProcedure [dbo].[gs_Role_AlbumDelete]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role_AlbumDelete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_Role_AlbumDelete]
GO
/****** Object:  StoredProcedure [dbo].[gs_Role_AlbumInsert]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role_AlbumInsert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_Role_AlbumInsert]
GO
/****** Object:  StoredProcedure [dbo].[gs_RoleDelete]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_RoleDelete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_RoleDelete]
GO
/****** Object:  StoredProcedure [dbo].[gs_Role_AlbumSelectAllAlbumsByRoleName]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role_AlbumSelectAllAlbumsByRoleName]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_Role_AlbumSelectAllAlbumsByRoleName]
GO
/****** Object:  StoredProcedure [dbo].[gs_Role_AlbumSelectRootAlbumsByRoleName]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role_AlbumSelectRootAlbumsByRoleName]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_Role_AlbumSelectRootAlbumsByRoleName]
GO
/****** Object:  StoredProcedure [dbo].[gs_SynchronizeSelect]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SynchronizeSelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_SynchronizeSelect]
GO
/****** Object:  StoredProcedure [dbo].[gs_SynchronizeSave]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SynchronizeSave]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_SynchronizeSave]
GO
/****** Object:  StoredProcedure [dbo].[gs_VerifyMinimumRecords]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_VerifyMinimumRecords]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_VerifyMinimumRecords]
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectMetadataSelect]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadataSelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_MediaObjectMetadataSelect]
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectMetadataInsert]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadataInsert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_MediaObjectMetadataInsert]
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectMetadataDeleteByMediaObjectId]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadataDeleteByMediaObjectId]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_MediaObjectMetadataDeleteByMediaObjectId]
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectMetadataUpdate]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadataUpdate]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_MediaObjectMetadataUpdate]
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectMetadataDelete]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadataDelete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_MediaObjectMetadataDelete]
GO
/****** Object:  Table [dbo].[gs_MediaObjectMetadata]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadata]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[gs_MediaObjectMetadata]
GO
/****** Object:  Table [dbo].[gs_Role_Album]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role_Album]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[gs_Role_Album]
GO
/****** Object:  Table [dbo].[gs_MediaObject]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObject]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[gs_MediaObject]
GO
/****** Object:  Table [dbo].[gs_Album]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Album]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[gs_Album]
GO
/****** Object:  UserDefinedFunction [dbo].[gs_func_convert_string_array_to_table]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_func_convert_string_array_to_table]') AND xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].[gs_func_convert_string_array_to_table]
GO
/****** Object:  UserDefinedFunction [dbo].[gs_GetVersion]    Script Date: 11/24/2007 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_GetVersion]') AND xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].[gs_GetVersion]
GO
/****** Object:  Table [dbo].[gs_Role]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[gs_Role]
GO
/****** Object:  StoredProcedure [dbo].[gs_SearchGallery]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SearchGallery]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_SearchGallery]
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectSelectHashKeys]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectSelectHashKeys]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_MediaObjectSelectHashKeys]
GO
/****** Object:  StoredProcedure [dbo].[gs_SelectChildAlbums]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SelectChildAlbums]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_SelectChildAlbums]
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectDelete]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectDelete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_MediaObjectDelete]
GO
/****** Object:  StoredProcedure [dbo].[gs_AlbumDelete]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_AlbumDelete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_AlbumDelete]
GO
/****** Object:  StoredProcedure [dbo].[gs_ExportMembership] ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_ExportMembership]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_ExportMembership]
GO
/****** Object:  StoredProcedure [dbo].[gs_ExportGalleryData] ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_ExportGalleryData]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_ExportGalleryData]
GO
/****** Object:  StoredProcedure [dbo].[gs_DeleteData] ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_DeleteData]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[gs_DeleteData]
GO
/****** Object:  Table [dbo].[gs_Synchronize]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Synchronize]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[gs_Synchronize]
GO
/****** Object:  Table [dbo].[gs_Gallery]    Script Date: 09/06/2007 18:46:11 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Gallery]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[gs_Gallery]
GO
/****** Object:  Table [dbo].[gs_Gallery]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Gallery]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[gs_Gallery](
	[GalleryId] [int] NOT NULL,
	[Description] [nvarchar](100) COLLATE database_default NOT NULL,
	[DateAdded] [datetime] NOT NULL,
 CONSTRAINT [PK_gs_Gallery] PRIMARY KEY CLUSTERED 
(
	[GalleryId] ASC
)
)
END
GO
/****** Object:  Table [dbo].[gs_Synchronize]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Synchronize]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[gs_Synchronize](
	[SynchId] [nchar](50) COLLATE database_default NOT NULL,
	[FKGalleryId] [int] NOT NULL,
	[SynchState] [int] NOT NULL,
	[TotalFiles] [int] NOT NULL,
	[CurrentFileIndex] [int] NOT NULL,
 CONSTRAINT [PK_gs_Synchronize] PRIMARY KEY CLUSTERED 
(
	[SynchId] ASC,
	[FKGalleryId] ASC
)
)
END
GO
/****** Object:  StoredProcedure [dbo].[gs_AlbumDelete]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_AlbumDelete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_AlbumDelete]
	@AlbumId int
AS
SET NOCOUNT ON
/* Delete the specified album and its objects, including any child albums.  Instead of using 
built-in cascading delete features of the database, we delete all objects manually. This is
primarily because SQL Server does not support cascade delete for hierarchal tables, which is
how album data is stored (the AlbumParentId field refers to the AlbumId field).*/

/* First, build a table containing this album ID and all child album IDs. */
CREATE TABLE #a (aid int, apid int, processed int)

/* Insert this album into our temporary table. */
INSERT #a 
	SELECT AlbumId, AlbumParentId, 0
	FROM [gs_Album] WHERE AlbumId = @AlbumId

/* Set up a loop where we insert the children of the first album, and their children, and so on, until no 
children are left. The end result is that the table is filled with info about @AlbumId and all his descendents.
The processed field in #a represents the # of levels from the bottom. Thus the records
with the MAX processed value is @AlbumId, and the records with the MIN level (should always be 1)
represent the most distant descendents. */
WHILE EXISTS (SELECT * FROM #a WHERE processed = 0)
BEGIN
	/* Insert the children of all albums in #a into the table. We use the ''processed = 0'' criterion because we
	only want to get the children once. Each loop increases the value of the processed field by one.  */
	INSERT #a SELECT AlbumId, AlbumParentId, -1
		FROM [gs_Album] WHERE AlbumParentId IN 
			(SELECT aid FROM #a WHERE processed = 0)
	
	/* Increment the processed value to preserve the heiarchy of albums. */
	UPDATE #a SET processed = processed + 1
END

/* At this point #a contains info about @AlbumId and all his descendents. Delete all media objects 
and roles associated with these albums, and then delete the albums. */
BEGIN TRAN
	DELETE [gs_MediaObject] WHERE FKAlbumId IN (SELECT aid FROM #a)
	
	DELETE [gs_Role_Album] WHERE FKAlbumId IN (SELECT aid FROM #a)
	
	/* Only delete albums that are not the root album (apid <> 0). */
	DELETE [gs_Album] WHERE AlbumId IN (SELECT aid FROM #a WHERE apid <> 0)
COMMIT TRAN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectDelete]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectDelete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_MediaObjectDelete]
(
	@MediaObjectId int
)
AS
SET NOCOUNT ON
/* Delete the specified media object. */
DELETE [gs_MediaObject]
WHERE MediaObjectId = @MediaObjectId

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_ExportMembership] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_ExportMembership]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_ExportMembership]
AS
SET NOCOUNT ON

SELECT ApplicationName, LoweredApplicationName, ApplicationId, Description
FROM aspnet_Applications

SELECT ApplicationId, UserId, Password, PasswordFormat, PasswordSalt, MobilePIN, Email, LoweredEmail, PasswordQuestion, PasswordAnswer, IsApproved, 
 IsLockedOut, CreateDate, LastLoginDate, LastPasswordChangedDate, LastLockoutDate, FailedPasswordAttemptCount, FailedPasswordAttemptWindowStart, 
 FailedPasswordAnswerAttemptCount, FailedPasswordAnswerAttemptWindowStart, Comment
FROM aspnet_Membership

SELECT UserId, PropertyNames, PropertyValuesString, PropertyValuesBinary, LastUpdatedDate
FROM aspnet_Profile

SELECT ApplicationId, RoleId, RoleName, LoweredRoleName, Description
FROM aspnet_Roles

SELECT ApplicationId, UserId, UserName, LoweredUserName, MobileAlias, IsAnonymous, LastActivityDate
FROM aspnet_Users

SELECT UserId, RoleId
FROM aspnet_UsersInRoles

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_ExportGalleryData] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_ExportGalleryData]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_ExportGalleryData]
AS
SET NOCOUNT ON

SELECT AlbumId, FKGalleryId, AlbumParentId, Title, DirectoryName, Summary, ThumbnailMediaObjectId, Seq, DateStart, DateEnd, DateAdded, CreatedBy, 
 LastModifiedBy, DateLastModified, OwnedBy, IsPrivate
FROM gs_Album

SELECT GalleryId, Description, DateAdded
FROM gs_Gallery

SELECT MediaObjectId, FKAlbumId, Title, HashKey, ThumbnailFilename, ThumbnailWidth, ThumbnailHeight, ThumbnailSizeKB, OptimizedFilename, OptimizedWidth, 
 OptimizedHeight, OptimizedSizeKB, OriginalFilename, OriginalWidth, OriginalHeight, OriginalSizeKB, ExternalHtmlSource, ExternalType, Seq, CreatedBy, 
 DateAdded, LastModifiedBy, DateLastModified, IsPrivate
FROM gs_MediaObject

SELECT MediaObjectMetadataId, FKMediaObjectId, MetadataNameIdentifier, Description, Value
FROM gs_MediaObjectMetadata

SELECT RoleName, FKGalleryId, AllowViewAlbumsAndObjects, AllowViewOriginalImage, AllowAddChildAlbum, AllowAddMediaObject, AllowEditAlbum, 
 AllowEditMediaObject, AllowDeleteChildAlbum, AllowDeleteMediaObject, AllowSynchronize, HideWatermark, AllowAdministerSite
FROM gs_Role

SELECT FKRoleName, FKAlbumId
FROM gs_Role_Album

SELECT [dbo].[gs_GetVersion]() AS SchemaVersion

RETURN' 
END
GO

/****** Object:  StoredProcedure [dbo].[gs_DeleteData] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_DeleteData]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_DeleteData]
(	@DeleteMembershipData bit, @DeleteGalleryData bit	)

AS
SET NOCOUNT ON

IF @DeleteMembershipData = 1
BEGIN
	DELETE FROM aspnet_UsersInRoles
	DELETE FROM aspnet_Profile
	DELETE FROM aspnet_Membership
	DELETE FROM aspnet_Users
	DELETE FROM aspnet_Roles
	DELETE FROM aspnet_Applications
END

IF @DeleteGalleryData = 1 
BEGIN
	DELETE FROM gs_MediaObjectMetadata
	DELETE FROM gs_MediaObject
	DELETE FROM gs_Role
	DELETE FROM gs_Role_Album
	DELETE FROM gs_Album
	DELETE FROM gs_Gallery
END

RETURN' 
END
GO

/****** Object:  StoredProcedure [dbo].[gs_SelectChildAlbums]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SelectChildAlbums]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_SelectChildAlbums]
(
	@AlbumId int, @GalleryId int
)
AS
SET NOCOUNT ON

SELECT AlbumId
FROM [gs_Album]
WHERE AlbumParentId = @AlbumId AND FKGalleryId = @GalleryId

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectSelectHashKeys]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectSelectHashKeys]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_MediaObjectSelectHashKeys]
(
	@GalleryId int
)
AS
SET NOCOUNT ON

SELECT [gs_MediaObject].HashKey
FROM [gs_MediaObject] INNER JOIN [gs_Album] ON [gs_MediaObject].FKAlbumId = [gs_Album].AlbumId
WHERE [gs_Album].FKGalleryId = @GalleryId

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_SearchGallery]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SearchGallery]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_SearchGallery]
(     @SearchTerms nvarchar(4000), @GalleryId int)
AS
SET NOCOUNT ON

/* Search for albums and media objects that match the specified search
terms. The album or media object must match
ALL search terms to be considered a match. There is no ''OR'' capability. For
albums, the Title and Summary columns 
are searched. For media objects, the Title and OriginalFilename columns and
all metadata in the MediaObjectMetadata 
tables is searched.

Inputs:
@SearchTerms - A comma-delimited set of search terms. May include spaces.
Ex: "cat,dog", "cat videos, dog videos"
  Multiple words in a single search term (such as "cat videos" in the
previous example) are treated as a phrase
  that must be matched, exactly like how Google treats phrases contained in
quotation marks. That is, "cat videos"
  requires the phrase "cat videos" to appear somewhere in the data, and it
will not match "cat and dog videos"
  (to match "cat and dog videos", you can use "cat,videos").
@GalleryId - The ID of the gallery to search.

Returns:
Returns a set of records with two columns:
gotype - A single character containing either ''a'' for album or ''m'' for media
object. Indicates whether the id
         stored in the second column is an album or media object.
id - The ID of a matching album or media object.

Algorithm:
The search follows these steps:
1. Create a temporary table #searchTerms and insert the search terms into
it, prepending and appending the wildcard
   character (%). Ex: If @SearchTerms = "cat videos,dog,fish", #searchTerms
will get 3 records: %cat videos%,
   %dog%, %fish%.
2. Create a second temporary table #searchResults to hold intermediate
search results.
3. Insert into #searchResults all albums where the title matches one of more
search terms. There will be one record
   inserted for each matching search term. Ex: If @SearchTerms = "cat
videos,dog,fish" and the album title =
   "My dog and cat videos", there will be two records inserted into
#searchResults, one with matchingSearchTerm =
   "%cat videos%" and the other "%dog%" (gotype=''a'', id=album ID,
fieldname=''Album.Title'' for both).
4. Repeat the above step for other fields: Album.Summary, MediaObject.Title,
MediaObject.OriginalFilename, and
   all media object metadata for each media object
5. Select those records from #searchResults where we made a successful match
for EVERY search term for each album or
   media object.
   
Note: The fieldname column in #searchResults is not used except for manual
debugging purposes. This column can
be removed if desired. 
*/

CREATE TABLE #searchTerms (searchTerm nvarchar(4000) COLLATE database_default)
CREATE TABLE #searchResults (
      gotype char(1), 
      id int, 
      fieldname nvarchar(50) COLLATE database_default, 
      matchingSearchTerm nvarchar(3000) COLLATE database_default)

INSERT #searchTerms
SELECT ''%'' + nstr + ''%'' FROM
dbo.gs_func_convert_string_array_to_table(@SearchTerms, '','')

-- Search album title
INSERT #searchResults
SELECT ''a'', gs_Album.AlbumId, ''Album.Title'', ''%'' + SUBSTRING(gs_Album.Title,
PATINDEX(#searchTerms.searchTerm, gs_Album.Title),
LEN(#searchTerms.searchTerm) - 2) + ''%''
 FROM gs_Album CROSS JOIN #searchTerms
 WHERE gs_Album.FKGalleryId = @GalleryId AND gs_Album.Title LIKE
#searchTerms.searchTerm

-- Search album summary
INSERT #searchResults
SELECT ''a'', a.AlbumId, ''Album.Summary'', ''%'' + SUBSTRING(a.Summary,
PATINDEX(#searchTerms.searchTerm, a.Summary), LEN(#searchTerms.searchTerm) -
2) + ''%''
 FROM gs_Album a CROSS JOIN #searchTerms
 WHERE a.FKGalleryId = @GalleryId AND a.Summary LIKE #searchTerms.searchTerm

-- Search media object title
INSERT #searchResults
SELECT ''m'', gs_MediaObject.MediaObjectId, ''MediaObject.Title'', ''%'' +
SUBSTRING(gs_MediaObject.Title, PATINDEX(#searchTerms.searchTerm,
gs_MediaObject.Title), LEN(#searchTerms.searchTerm) - 2) + ''%''
 FROM gs_MediaObject JOIN gs_Album
 ON gs_Album.AlbumId = gs_MediaObject.FKAlbumId CROSS JOIN #searchTerms
 WHERE gs_Album.FKGalleryId = @GalleryId AND gs_MediaObject.Title LIKE
#searchTerms.searchTerm --AND 0=1

-- Search media object original filename
INSERT #searchResults
SELECT ''m'', gs_MediaObject.MediaObjectId, ''MediaObject.OriginalFilename'',
''%'' + SUBSTRING(gs_MediaObject.OriginalFilename,
PATINDEX(#searchTerms.searchTerm, gs_MediaObject.OriginalFilename),
LEN(#searchTerms.searchTerm) - 2) + ''%''
 FROM gs_MediaObject JOIN gs_Album ON gs_Album.AlbumId =
gs_MediaObject.FKAlbumId CROSS JOIN #searchTerms
 WHERE gs_Album.FKGalleryId = @GalleryId AND gs_MediaObject.OriginalFilename
LIKE #searchTerms.searchTerm --AND 0=1

-- Search media object metadata
INSERT #searchResults
SELECT DISTINCT ''m'', gs_MediaObject.MediaObjectId, ''MediaObjectMetadata'',
''%'' + SUBSTRING(gs_MediaObjectMetadata.Value,
PATINDEX(#searchTerms.searchTerm, gs_MediaObjectMetadata.Value),
LEN(#searchTerms.searchTerm) - 2) + ''%''
 FROM gs_MediaObjectMetadata JOIN gs_MediaObject
 ON gs_MediaObjectMetadata.FKMediaObjectId = gs_MediaObject.MediaObjectId
JOIN gs_Album
 ON gs_Album.AlbumId = gs_MediaObject.FKAlbumId CROSS JOIN #searchTerms
 WHERE gs_Album.FKGalleryId = @GalleryId AND gs_MediaObjectMetadata.Value
LIKE #searchTerms.searchTerm

-- Uncomment for debug purposes:
--SELECT * from #searchTerms
--SELECT * FROM #searchResults

SELECT sr.gotype, sr.id
FROM #searchTerms AS st INNER JOIN (SELECT DISTINCT gotype, id,
matchingSearchTerm FROM #searchResults) AS sr ON st.searchTerm =
sr.matchingSearchTerm
GROUP BY sr.gotype, sr.id
HAVING (COUNT(*) >= (SELECT COUNT(*) FROM #searchTerms))

RETURN
' 
END
GO
/****** Object:  Table [dbo].[gs_Role]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[gs_Role](
	[RoleName] [nvarchar](256) COLLATE database_default NOT NULL,
	[FKGalleryId] [int] NOT NULL,
	[AllowViewAlbumsAndObjects] [bit] NOT NULL,
	[AllowViewOriginalImage] [bit] NOT NULL,
	[AllowAddChildAlbum] [bit] NOT NULL,
	[AllowAddMediaObject] [bit] NOT NULL,
	[AllowEditAlbum] [bit] NOT NULL,
	[AllowEditMediaObject] [bit] NOT NULL,
	[AllowDeleteChildAlbum] [bit] NOT NULL,
	[AllowDeleteMediaObject] [bit] NOT NULL,
	[AllowSynchronize] [bit] NOT NULL,
	[HideWatermark] [bit] NOT NULL,
	[AllowAdministerSite] [bit] NOT NULL,
 CONSTRAINT [PK_gs_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleName] ASC,
	[FKGalleryId] ASC
)
)
END
GO
/****** Object:  UserDefinedFunction [dbo].[gs_func_convert_string_array_to_table]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_func_convert_string_array_to_table]') AND xtype in (N'FN', N'IF', N'TF'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [dbo].[gs_func_convert_string_array_to_table]
                 (@list      nvarchar(4000),
                  @delimiter nchar(1) = N'','')
      RETURNS @tbl TABLE (listpos int IDENTITY(1, 1) NOT NULL,
                          str     varchar(4000) COLLATE database_default NOT NULL,
                          nstr    nvarchar(2000) COLLATE database_default NOT NULL) AS

BEGIN
   DECLARE @endpos   int,
           @startpos int,
           @textpos  int,
           @chunklen smallint,
           @tmpstr   nvarchar(4000),
           @leftover nvarchar(4000),
           @tmpval   nvarchar(4000)

   SET @textpos = 1
   SET @leftover = ''''
   WHILE @textpos <= datalength(@list) / 2
   BEGIN
      SET @chunklen = 4000 - datalength(@leftover) / 2
      SET @tmpstr = @leftover + substring(@list, @textpos, @chunklen)
      SET @textpos = @textpos + @chunklen

      SET @startpos = 0
      SET @endpos = charindex(@delimiter, @tmpstr)

      WHILE @endpos > 0
      BEGIN
         SET @tmpval = ltrim(rtrim(substring(@tmpstr, @startpos + 1,
                                             @endpos - @startpos - 1)))
         INSERT @tbl (str, nstr) VALUES(@tmpval, @tmpval)
         SET @startpos = @endpos
         SET @endpos = charindex(@delimiter,
                                 @tmpstr, @startpos + 1)
      END

      SET @leftover = right(@tmpstr, datalength(@tmpstr) / 2 - @startpos)
   END

   INSERT @tbl(str, nstr)
      VALUES (ltrim(rtrim(@leftover)), ltrim(rtrim(@leftover)))
   RETURN
END' 
END
GO
/****** Object:  UserDefinedFunction [dbo].[gs_GetVersion]    Script Date: 11/24/2007 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_GetVersion]') AND xtype in (N'FN', N'IF', N'TF'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [dbo].[gs_GetVersion]()
RETURNS
   VARCHAR(255)
AS
BEGIN
   RETURN ''2.1.3162''
END' 
END
GO
/****** Object:  Table [dbo].[gs_Album]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Album]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[gs_Album](
	[AlbumId] [int] IDENTITY(1,1) NOT NULL,
	[FKGalleryId] [int] NOT NULL,
	[AlbumParentId] [int] NOT NULL,
	[Title] [nvarchar](200) COLLATE database_default NOT NULL,
	[DirectoryName] [nvarchar](255) COLLATE database_default NOT NULL,
	[Summary] [nvarchar](1500) COLLATE database_default NOT NULL,
	[ThumbnailMediaObjectId] [int] NOT NULL,
	[Seq] [int] NOT NULL,
	[DateStart] [datetime] NULL,
	[DateEnd] [datetime] NULL,
	[DateAdded] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) COLLATE database_default NOT NULL,
	[LastModifiedBy] [nvarchar](256) COLLATE database_default NOT NULL,
	[DateLastModified] [datetime] NOT NULL,
	[OwnedBy] [nvarchar](256) COLLATE database_default NOT NULL,
	[IsPrivate] [bit] NOT NULL,
 CONSTRAINT [PK_gs_Album] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC
)
)
END
GO
/****** Object:  Non-clustered index [dbo].[gs_Album].[IDX_gs_Album_AlbumParentId]  ******/
IF NOT EXISTS (SELECT * FROM dbo.sysindexes WHERE id = OBJECT_ID(N'[dbo].[gs_Album]') AND name = N'IDX_gs_Album_AlbumParentId')
	CREATE NONCLUSTERED INDEX [IDX_gs_Album_AlbumParentId] ON [dbo].[gs_Album] ([AlbumParentId] ASC	)
GO
/****** Object:  Table [dbo].[gs_MediaObject]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObject]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[gs_MediaObject](
	[MediaObjectId] [int] IDENTITY(1,1) NOT NULL,
	[FKAlbumId] [int] NOT NULL,
	[Title] [nvarchar](1000) COLLATE database_default NOT NULL,
	[HashKey] [nchar](47) COLLATE database_default NOT NULL,
	[ThumbnailFilename] [nvarchar](255) COLLATE database_default NOT NULL,
	[ThumbnailWidth] [int] NOT NULL,
	[ThumbnailHeight] [int] NOT NULL,
	[ThumbnailSizeKB] [int] NOT NULL,
	[OptimizedFilename] [nvarchar](255) COLLATE database_default NOT NULL,
	[OptimizedWidth] [int] NOT NULL,
	[OptimizedHeight] [int] NOT NULL,
	[OptimizedSizeKB] [int] NOT NULL,
	[OriginalFilename] [nvarchar](255) COLLATE database_default NOT NULL,
	[OriginalWidth] [int] NOT NULL,
	[OriginalHeight] [int] NOT NULL,
	[OriginalSizeKB] [int] NOT NULL,
	[ExternalHtmlSource] [nvarchar](1000) COLLATE database_default NOT NULL,
	[ExternalType] [nvarchar](15) COLLATE database_default NOT NULL,
	[Seq] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) COLLATE database_default NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[LastModifiedBy] [nvarchar](256) COLLATE database_default NOT NULL,
	[DateLastModified] [datetime] NOT NULL,
	[IsPrivate] [bit] NOT NULL,
 CONSTRAINT [PK_gs_MediaObject] PRIMARY KEY CLUSTERED 
(
	[MediaObjectId] ASC
)
)
END
GO
/****** Object:  Non-clustered index [dbo].[gs_MediaObject].[IDX_gs_MediaObject_FKAlbumId]  ******/
IF NOT EXISTS (SELECT * FROM dbo.sysindexes WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObject]') AND name = N'IDX_gs_MediaObject_FKAlbumId')
	CREATE NONCLUSTERED INDEX [IDX_gs_MediaObject_FKAlbumId] ON [dbo].[gs_MediaObject] ([FKAlbumId] ASC)
GO
/****** Object:  Table [dbo].[gs_Role_Album]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role_Album]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[gs_Role_Album](
	[FKRoleName] [nvarchar](256) COLLATE database_default NOT NULL,
	[FKAlbumId] [int] NOT NULL,
 CONSTRAINT [PK_gs_Role_Album] PRIMARY KEY CLUSTERED 
(
	[FKRoleName] ASC,
	[FKAlbumId] ASC
)
)
END
GO
/****** Object:  Table [dbo].[gs_MediaObjectMetadata]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadata]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[gs_MediaObjectMetadata](
	[MediaObjectMetadataId] [int] IDENTITY(1,1) NOT NULL,
	[FKMediaObjectId] [int] NOT NULL,
	[MetadataNameIdentifier] [int] NOT NULL,
	[Description] [nvarchar](100) COLLATE database_default NOT NULL,
	[Value] [nvarchar](2000) COLLATE database_default NOT NULL,
 CONSTRAINT [PK_gs_MediaObjectMetadata] PRIMARY KEY CLUSTERED 
(
	[MediaObjectMetadataId] ASC
)
)
END
GO
/****** Object:  Non-clustered index [dbo].[gs_MediaObjectMetadata].[IDX_gs_MediaObjectMetadata_FKMediaObjectId]  ******/
IF NOT EXISTS (SELECT * FROM dbo.sysindexes WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadata]') AND name = N'IDX_gs_MediaObjectMetadata_FKMediaObjectId')
	CREATE NONCLUSTERED INDEX [IDX_gs_MediaObjectMetadata_FKMediaObjectId] ON [dbo].[gs_MediaObjectMetadata] ([FKMediaObjectId] ASC )
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectMetadataDelete]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadataDelete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_MediaObjectMetadataDelete]
( @MediaObjectMetadataId int )
AS
/* Delete a new media object meta data item */
DELETE [gs_MediaObjectMetadata]
WHERE MediaObjectMetadataId = @MediaObjectMetadataId' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectMetadataUpdate]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadataUpdate]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_MediaObjectMetadataUpdate]
(@FKMediaObjectId int, @MetadataNameIdentifier int, @Description nvarchar(100), @Value nvarchar(2000),
 @MediaObjectMetadataId int)
AS
/* Update a new media object meta data item */
UPDATE [gs_MediaObjectMetadata]
SET FKMediaObjectId = @FKMediaObjectId,
 MetadataNameIdentifier = @MetadataNameIdentifier,
 Description = @Description,
 Value = @Value
WHERE MediaObjectMetadataId = @MediaObjectMetadataId' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectMetadataDeleteByMediaObjectId]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadataDeleteByMediaObjectId]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_MediaObjectMetadataDeleteByMediaObjectId]
( @MediaObjectId int )
AS
/* Delete all new metadata items belonging to the specified media object ID. */
DELETE [gs_MediaObjectMetadata]
WHERE FKMediaObjectId = @MediaObjectId' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectMetadataInsert]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadataInsert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_MediaObjectMetadataInsert]
(@FKMediaObjectId int, @MetadataNameIdentifier int, @Description nvarchar(100), @Value nvarchar(2000),
 @Identity int OUT)
AS
/* Insert a new media object meta data item */
INSERT [gs_MediaObjectMetadata] (FKMediaObjectId, MetadataNameIdentifier, Description, Value)
VALUES (@FKMediaObjectId, @MetadataNameIdentifier, @Description, @Value)

SET @Identity = SCOPE_IDENTITY()' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectMetadataSelect]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectMetadataSelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_MediaObjectMetadataSelect]
(
	@MediaObjectId int, @GalleryId int
)
AS
SET NOCOUNT ON

SELECT
	md.MediaObjectMetadataId, md.FKMediaObjectId, md.MetadataNameIdentifier, md.Description, md.Value
FROM [gs_MediaObjectMetadata] md JOIN [gs_MediaObject] mo ON md.FKMediaObjectId = mo.MediaObjectId
	JOIN [gs_Album] a ON mo.FKAlbumId = a.AlbumId
WHERE md.FKMediaObjectId = @MediaObjectId AND a.FKGalleryId = @GalleryId

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_VerifyMinimumRecords]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_VerifyMinimumRecords]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_VerifyMinimumRecords]
(
	@GalleryId int
)
AS
SET NOCOUNT ON
/* Verify that certain tables have the required records, inserting them if necessary. This proc is designed 
to be run each time the application starts. This proc is especially important the first time Gallery Server 
is run as Gallery Server depends on this proc to install the default set of data.

Gallery: This table requires at least one record to represent the current gallery. If no records are
			found, one is inserted with a ID equal to the @GalleryId parameter.
Album: This table requires at least one record to represent the root album. If no records are found, 
       a new record representing the root album is added.
Synchronize: This table requires one record for each gallery. It stores the current state of a synchronization,
			if one is in progress. When a synchronization is not in progress, the SynchState field should be zero
			for this gallery.
*/

/* ******************************************************* */
--          Check the Gallery table
/* ******************************************************* */
BEGIN TRAN
IF NOT EXISTS (SELECT * FROM [gs_Gallery] WITH (UPDLOCK, HOLDLOCK) WHERE GalleryId = @GalleryId)
BEGIN
	INSERT gs_Gallery (GalleryId, Description, DateAdded)
	VALUES (@GalleryId, ''My Gallery'', GETDATE())
END
COMMIT

/* ******************************************************* */
--          Check the Album table
/* ******************************************************* */
BEGIN TRAN
IF NOT EXISTS (SELECT * FROM [gs_Album] WITH (UPDLOCK, HOLDLOCK) WHERE AlbumParentId = 0 AND FKGalleryId = @GalleryId)
BEGIN
  /* The album table does not have a root album for the specified gallery. Insert one. */
  INSERT [gs_Album] (AlbumParentId, FKGalleryId, Title, DirectoryName, Summary, ThumbnailMediaObjectId, Seq, CreatedBy, DateAdded, LastModifiedBy, DateLastModified, OwnedBy, IsPrivate)
  VALUES (0, @GalleryId, ''All albums'', '''',''Welcome to Gallery Server Pro!'', 0, 0, ''gs_VerifyMinimumRecords'', GETDATE(), ''gs_VerifyMinimumRecords'', GETDATE(), ''gs_VerifyMinimumRecords'', 0)
END 
COMMIT

/* ******************************************************* */
--          Check the Synchronize table
/* ******************************************************* */
BEGIN TRAN
IF EXISTS (SELECT * FROM [gs_Synchronize] WITH (UPDLOCK, HOLDLOCK) WHERE FKGalleryId = @GalleryId)
BEGIN -- Reset record to clear out any previous synchronization
	UPDATE gs_Synchronize
	SET SynchId = '''',
	SynchState = 0,
	TotalFiles = 0,
	CurrentFileIndex = 0
	WHERE FKGalleryId = @GalleryId
END
ELSE
BEGIN
	INSERT INTO gs_Synchronize (SynchId, FKGalleryId, SynchState, TotalFiles, CurrentFileIndex)
	VALUES ('''',@GalleryId, 0, 0, 0)
END
COMMIT

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_SynchronizeSave]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SynchronizeSave]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_SynchronizeSave]
	(@SynchId nchar(50), @GalleryId int, @SynchState int, @TotalFiles int, @CurrentFileIndex int)
AS
SET NOCOUNT, XACT_ABORT ON
/* UPDATE the synchronize table with the specified data. */

/* Check if another synchronization is in progress. Return with error code if it is. */
IF EXISTS (SELECT * FROM [gs_Synchronize] WHERE FKGalleryId = @GalleryId AND SynchId <> @SynchId AND (SynchState = 1 OR SynchState = 2))
BEGIN
	RETURN 250000
END

BEGIN TRAN
IF EXISTS (SELECT * FROM [gs_Synchronize] WITH (UPDLOCK, HOLDLOCK) WHERE FKGalleryId = @GalleryId)
	UPDATE [gs_Synchronize]
	SET SynchId = @SynchId,
		FKGalleryId = @GalleryId,
		SynchState = @SynchState,
		TotalFiles = @TotalFiles,
		CurrentFileIndex = @CurrentFileIndex
	WHERE FKGalleryId = @GalleryId
ELSE
	INSERT [gs_Synchronize] (SynchId, FKGalleryId, SynchState, TotalFiles, CurrentFileIndex)
	VALUES (@SynchId, @GalleryId, @SynchState, @TotalFiles, @CurrentFileIndex)
COMMIT
	
RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_SynchronizeSelect]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SynchronizeSelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_SynchronizeSelect]
(@GalleryId int)
AS
SET NOCOUNT ON

/* Return the synchronize data for the specified gallery. It should contain 1 record. */
SELECT SynchId, FKGalleryId, SynchState, TotalFiles, CurrentFileIndex
FROM [gs_Synchronize]
WHERE FKGalleryId = @GalleryId

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_Role_AlbumSelectRootAlbumsByRoleName]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role_AlbumSelectRootAlbumsByRoleName]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_Role_AlbumSelectRootAlbumsByRoleName]
(	@RoleName nvarchar(256), @GalleryId int )

AS
SET NOCOUNT ON

SELECT gs_Role_Album.FKAlbumId
FROM gs_Role_Album INNER JOIN gs_Album ON gs_Role_Album.FKAlbumId = gs_Album.AlbumId
WHERE (gs_Role_Album.FKRoleName = @RoleName) AND (gs_Album.FKGalleryId = @GalleryId)

RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_Role_AlbumSelectAllAlbumsByRoleName]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role_AlbumSelectAllAlbumsByRoleName]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_Role_AlbumSelectAllAlbumsByRoleName]
(	@RoleName nvarchar(256), @GalleryId int )

AS
SET NOCOUNT ON

/* Retrieve all the album IDs that are affected by the specified role name. The album IDs that are stored in
   the gs_Role_Album table only hold the highest ranking album ID. */
   
/* If the role is applied to the root album, then we can just return all albums in the gallery. This is 
much cheaper than drilling down by album.  */
DECLARE @RootAlbumId int
SELECT @RootAlbumId = AlbumId FROM gs_Album WHERE AlbumParentId = 0 AND FKGalleryId = @GalleryId
 
IF EXISTS (SELECT * FROM gs_Role_Album WHERE FKRoleName = @RoleName AND FKAlbumId = @RootAlbumId)
BEGIN
	SELECT AlbumId FROM gs_Album WHERE FKGalleryId = @GalleryId
END
ELSE
BEGIN
	/* The role applies to an album or albums below the root album, so we need to drill down and retrieve all
   the children. Start by creating a temporary table to hold our data. */
	DECLARE @AlbumList table
		(AlbumId int not null,
		AlbumParentId int not null,
		AlbumDepth int not null)

	/* Insert the top level album IDs. */
	INSERT @AlbumList (AlbumId, AlbumParentId, AlbumDepth)
	SELECT FKAlbumId, 0, 1
	FROM gs_Role_Album INNER JOIN gs_Album ON gs_Role_Album.FKAlbumId = gs_Album.AlbumId
	WHERE (gs_Role_Album.FKRoleName = @RoleName) AND (gs_Album.FKGalleryId = @GalleryId)

	/* Continue drilling down, level by level, until we reach a level where there are no more child albums. */
	WHILE (@@rowcount > 0) BEGIN
		INSERT @AlbumList (AlbumId, AlbumParentId, AlbumDepth)
		SELECT a.AlbumId, a.AlbumParentId, al.AlbumDepth + 1
		FROM gs_Album a JOIN @AlbumList al ON a.AlbumParentId = al.AlbumId
		WHERE al.AlbumDepth = (SELECT MAX(AlbumDepth) FROM @AlbumList)
	END

	/* Retrieve the list of album IDs. */
	SELECT AlbumId
	FROM @AlbumList
END

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_RoleDelete]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_RoleDelete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_RoleDelete]
( @GalleryId int, @RoleName nvarchar(256) )
AS
/* Delete a gallery server role. This procedure only deletes it from the custom gallery server tables,
not the ASP.NET role membership table(s). The web application code that invokes this procedure also
uses the standard ASP.NET technique to delete the role from the membership table(s). */

-- First delete the records from the role/album association table.
DELETE [gs_Role_Album]
WHERE FKRoleName = @RoleName

-- Finally delete the role.
DELETE [gs_Role]
WHERE FKGalleryId = @GalleryId AND RoleName = @RoleName
' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_Role_AlbumInsert]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role_AlbumInsert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_Role_AlbumInsert]
(
	@RoleName nvarchar(256), @AlbumId int
)
AS
SET NOCOUNT ON

INSERT [gs_Role_Album] (FKRoleName, FKAlbumId)
VALUES (@RoleName, @AlbumId)

RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_Role_AlbumDelete]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_Role_AlbumDelete]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_Role_AlbumDelete]
(
	@RoleName nvarchar(256), @AlbumId int
)
AS
SET NOCOUNT ON

DELETE FROM [gs_Role_Album]
WHERE FKRoleName = @RoleName AND FKAlbumId = @AlbumId

RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_AlbumInsert]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_AlbumInsert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_AlbumInsert]
(@AlbumParentId int, @GalleryId int, @Title nvarchar(200), @DirectoryName nvarchar(255),
 @Summary nvarchar(1500), @ThumbnailMediaObjectId int, @Seq int, 
 @DateStart datetime, @DateEnd datetime, @CreatedBy nvarchar(256), @DateAdded datetime, 
 @LastModifiedBy nvarchar(256), @DateLastModified datetime, @OwnedBy nvarchar(256),
 @IsPrivate bit, @Identity int OUT)
AS
/* Insert a new album. */
INSERT [gs_Album] (AlbumParentId, FKGalleryId, Title, DirectoryName, 
 Summary, ThumbnailMediaObjectId, Seq, DateStart, DateEnd, 
 CreatedBy, DateAdded, LastModifiedBy, DateLastModified, OwnedBy, 
 IsPrivate)
VALUES (@AlbumParentId, @GalleryId, @Title, @DirectoryName, 
 @Summary, @ThumbnailMediaObjectId, @Seq, @DateStart, @DateEnd, 
 @CreatedBy, @DateAdded, @LastModifiedBy, @DateLastModified, @OwnedBy, 
 @IsPrivate)

SET @Identity = SCOPE_IDENTITY()' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectSelect]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectSelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_MediaObjectSelect]
(
	@MediaObjectId int, @GalleryId int
)
AS
SET NOCOUNT ON

SELECT
	mo.MediaObjectId, mo.FKAlbumId, mo.Title, mo.HashKey, mo.ThumbnailFilename, mo.ThumbnailWidth, mo.ThumbnailHeight, 
	mo.ThumbnailSizeKB, mo.OptimizedFilename, mo.OptimizedWidth, mo.OptimizedHeight, mo.OptimizedSizeKB, 
	mo.OriginalFilename, mo.OriginalWidth, mo.OriginalHeight, mo.OriginalSizeKB, mo.ExternalHtmlSource, mo.ExternalType, mo.Seq, 
	mo.CreatedBy, mo.DateAdded, mo.LastModifiedBy, mo.DateLastModified, mo.IsPrivate
FROM [gs_MediaObject] mo JOIN [gs_Album] a ON mo.FKAlbumId = a.AlbumId
WHERE mo.MediaObjectId = @MediaObjectId AND a.FKGalleryId = @GalleryId

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_AlbumSelect]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_AlbumSelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_AlbumSelect]
(
	@AlbumId int, @GalleryId int
)
AS
SET NOCOUNT ON

SELECT
	AlbumId, FKGalleryId as GalleryId, AlbumParentId, Title, DirectoryName, Summary, ThumbnailMediaObjectId, 
	Seq, DateStart, DateEnd, CreatedBy, DateAdded, LastModifiedBy, DateLastModified, OwnedBy, IsPrivate
FROM [gs_Album]
WHERE AlbumId = @AlbumId AND FKGalleryId = @GalleryId

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_GallerySelect]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_GallerySelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_GallerySelect]
(
	@GalleryId int
)
AS
SET NOCOUNT ON

SELECT GalleryId, Description, DateAdded
FROM [gs_Gallery]
WHERE GalleryId = @GalleryId

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_AlbumUpdate]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_AlbumUpdate]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_AlbumUpdate]
(@AlbumId int, @AlbumParentId int, @Title nvarchar(200), @DirectoryName nvarchar(255),
 @Summary nvarchar(1500), @ThumbnailMediaObjectId int,  @Seq int, 
 @DateStart datetime, @DateEnd datetime, @LastModifiedBy nvarchar(256), 
 @DateLastModified datetime, @OwnedBy nvarchar(256), @IsPrivate bit)
 
AS
SET NOCOUNT ON

UPDATE [gs_Album]
SET
	AlbumParentId = @AlbumParentId,
	Title = @Title,
	DirectoryName = @DirectoryName,
	Summary = @Summary,
	ThumbnailMediaObjectId = @ThumbnailMediaObjectId,
	Seq = @Seq,
	DateStart = @DateStart,
	DateEnd = @DateEnd,
	LastModifiedBy = @LastModifiedBy,
	DateLastModified = @DateLastModified,
	OwnedBy = @OwnedBy,
	IsPrivate = @IsPrivate
WHERE (AlbumId = @AlbumId)

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_RoleSelect]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_RoleSelect]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_RoleSelect]
(@GalleryId int)

AS
SET NOCOUNT ON

SELECT RoleName, AllowViewAlbumsAndObjects, AllowViewOriginalImage, AllowAddChildAlbum,
	AllowAddMediaObject, AllowEditAlbum, AllowEditMediaObject, AllowDeleteChildAlbum, 
	AllowDeleteMediaObject, AllowSynchronize, HideWatermark, AllowAdministerSite
FROM gs_Role
WHERE (FKGalleryId = @GalleryId)

RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_RoleInsert]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_RoleInsert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_RoleInsert]
(
	@GalleryId int, @RoleName nvarchar(256), @AllowViewAlbumsAndObjects bit, @AllowViewOriginalImage bit,
	@AllowAddChildAlbum bit, @AllowAddMediaObject bit, @AllowEditAlbum bit, @AllowEditMediaObject bit,
	@AllowDeleteChildAlbum bit, @AllowDeleteMediaObject bit, @AllowSynchronize bit, @HideWatermark bit,
	@AllowAdministerSite bit
)
AS
SET NOCOUNT ON

INSERT [gs_Role] (FKGalleryId, RoleName, AllowViewAlbumsAndObjects, AllowViewOriginalImage, AllowAddChildAlbum,
	AllowAddMediaObject, AllowEditAlbum, AllowEditMediaObject, AllowDeleteChildAlbum, AllowDeleteMediaObject, 
	AllowSynchronize, HideWatermark, AllowAdministerSite)
VALUES (@GalleryId, @RoleName, @AllowViewAlbumsAndObjects, @AllowViewOriginalImage, @AllowAddChildAlbum,
	@AllowAddMediaObject, @AllowEditAlbum, @AllowEditMediaObject, @AllowDeleteChildAlbum, @AllowDeleteMediaObject, 
	@AllowSynchronize, @HideWatermark, @AllowAdministerSite)

RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectUpdate]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectUpdate]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_MediaObjectUpdate]
(
 @MediaObjectId int, @HashKey char(47), @FKAlbumId int, 
 @ThumbnailFilename nvarchar(255), @ThumbnailWidth int, @ThumbnailHeight int, @ThumbnailSizeKB int,
 @OriginalFilename nvarchar(255),	@OriginalWidth int, @OriginalHeight int, @OriginalSizeKB int, 
 @OptimizedFilename nvarchar(255),	@OptimizedWidth int, @OptimizedHeight int, @OptimizedSizeKB int, 
 @ExternalHtmlSource nvarchar(1000), @ExternalType nvarchar(15),
 @Title nvarchar(1000), @Seq int, @LastModifiedBy nvarchar(256), @DateLastModified datetime, @IsPrivate bit
)
AS
SET NOCOUNT ON

/* Update the media object. */
UPDATE [gs_MediaObject]
SET HashKey = @HashKey, FKAlbumId = @FKAlbumId,
 ThumbnailFilename = @ThumbnailFilename, ThumbnailWidth = @ThumbnailWidth, 
 ThumbnailHeight = @ThumbnailHeight, ThumbnailSizeKB = @ThumbnailSizeKB,
 OptimizedFilename = @OptimizedFilename, OptimizedWidth = @OptimizedWidth,
 OptimizedHeight = @OptimizedHeight, OptimizedSizeKB = @OptimizedSizeKB, 
 OriginalFilename = @OriginalFilename, OriginalWidth = @OriginalWidth,
 OriginalHeight = @OriginalHeight, OriginalSizeKB = @OriginalSizeKB, 
 ExternalHtmlSource = @ExternalHtmlSource, ExternalType = @ExternalType,
 Title = @Title, Seq = @Seq, LastModifiedBy = @LastModifiedBy, 
 DateLastModified = @DateLastModified, IsPrivate = @IsPrivate
WHERE MediaObjectId = @MediaObjectId' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_SelectChildMediaObjects]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SelectChildMediaObjects]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_SelectChildMediaObjects]
(
	@AlbumId int
)
AS
SET NOCOUNT ON

SELECT 
	MediaObjectId, FKAlbumId, Title, HashKey, ThumbnailFilename, ThumbnailWidth, ThumbnailHeight, 
	ThumbnailSizeKB, OptimizedFilename, OptimizedWidth, OptimizedHeight, OptimizedSizeKB, 
	OriginalFilename, OriginalWidth, OriginalHeight, OriginalSizeKB, ExternalHtmlSource, ExternalType, Seq, 
	CreatedBy, DateAdded, LastModifiedBy, DateLastModified, IsPrivate
FROM [gs_MediaObject]
WHERE FKAlbumId = @AlbumId

RETURN' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_MediaObjectInsert]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_MediaObjectInsert]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_MediaObjectInsert]
(@HashKey char(47), @FKAlbumId int, @ThumbnailFilename nvarchar(255), 
 @ThumbnailWidth int, @ThumbnailHeight int,
 @ThumbnailSizeKB int, @OptimizedFilename nvarchar(255), 
 @OptimizedWidth int, @OptimizedHeight int,
 @OptimizedSizeKB int, @OriginalFilename nvarchar(255),	 
 @OriginalWidth int, @OriginalHeight int, @OriginalSizeKB int, 
 @ExternalHtmlSource nvarchar(1000), @ExternalType nvarchar(15),
 @Title nvarchar(1000), @Seq int, @CreatedBy nvarchar(256), @DateAdded datetime, 
 @LastModifiedBy nvarchar(256), @DateLastModified datetime, @IsPrivate bit,
 @Identity int OUT)
AS

/* Insert media object information. */
 INSERT [gs_MediaObject] (HashKey, FKAlbumId, ThumbnailFilename, ThumbnailWidth, ThumbnailHeight,
 ThumbnailSizeKB, OptimizedFilename, OptimizedWidth, OptimizedHeight, OptimizedSizeKB,
 OriginalFilename, OriginalWidth, OriginalHeight, OriginalSizeKB, ExternalHtmlSource, ExternalType, Title, Seq, CreatedBy, 
 DateAdded, LastModifiedBy, DateLastModified, IsPrivate)
VALUES (@HashKey, @FKAlbumId, @ThumbnailFilename, @ThumbnailWidth, @ThumbnailHeight,
 @ThumbnailSizeKB, @OptimizedFilename, @OptimizedWidth, @OptimizedHeight, @OptimizedSizeKB,
 @OriginalFilename, @OriginalWidth, @OriginalHeight, @OriginalSizeKB, @ExternalHtmlSource, @ExternalType, @Title, @Seq, @CreatedBy, 
 @DateAdded, @LastModifiedBy, @DateLastModified, @IsPrivate)
 
SET @Identity = SCOPE_IDENTITY()' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_SelectRootAlbum]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_SelectRootAlbum]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_SelectRootAlbum]
(
	@GalleryId int
)
AS
SET NOCOUNT ON

/* Return the root album. First, check to make sure it exists.
If not, call the stored proc that will insert a default record. */

IF NOT EXISTS (SELECT * FROM [gs_Album] WHERE AlbumParentId = 0 AND FKGalleryId = @GalleryId)
	EXEC dbo.gs_VerifyMinimumRecords @GalleryId

SELECT
	AlbumId, AlbumParentId, Title, DirectoryName, Summary, ThumbnailMediaObjectId, 
	Seq, DateStart, DateEnd, CreatedBy, DateAdded, LastModifiedBy, DateLastModified, OwnedBy, IsPrivate
FROM [gs_Album]
WHERE AlbumParentId = 0 AND FKGalleryId = @GalleryId' 
END
GO
/****** Object:  StoredProcedure [dbo].[gs_InitializeGalleryServerPro]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_InitializeGalleryServerPro]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_InitializeGalleryServerPro] 
(
	@GalleryId int,
	@ApplicationName nvarchar(512),
	@SysAdminRoleName nvarchar(256),
	@SysAdminRoleNameDescription nvarchar(256),
	@AdminEmail nvarchar(256),
	@AdminUserName nvarchar(256),
	@AdminPassword nvarchar(256),
	@PasswordFormat int = 0,	-- 0 = clear text, 1 = encrypted
	@CreateSamples bit = 1
)
AS
SET NOCOUNT ON

/* This procedure is called from the web installer. It sets up the administrator user and ensures 
certain tables have default records. */

/* ******************************************************* */
--     Verify certain tables have default records
/* ******************************************************* */
EXEC dbo.gs_VerifyMinimumRecords @GalleryId

/* ******************************************************* */
--                  Membership Routines
/* ******************************************************* */
DECLARE @ApplicationId uniqueidentifier
DECLARE @ApplicationAlreadyExists bit
DECLARE @RootAlbumId int
DECLARE @AdminUserId uniqueidentifier

IF (NOT EXISTS (SELECT name FROM sysobjects WHERE (name = N''aspnet_Applications'') AND (type = ''U'')))
	RETURN -- No Membership tables in this database. User presumably wants to connect to a Membership infrastructure in 
				 -- a remote database. This must be done manually so let''s just exit.
	
-- Get root album ID
SELECT @RootAlbumId = AlbumId FROM gs_Album WHERE (AlbumParentId = 0)

--Get or Create the Application ID.
--An ApplicationName/ID can exist in more than one site, so it does not need to be unique
Set @ApplicationId = null

Select @ApplicationId = ApplicationId FROM aspnet_Applications where  LoweredApplicationName = Lower(@ApplicationName)


IF(@ApplicationId is  null)
BEGIN /* Application doesn''t exist so let''s create it */
	EXEC aspnet_Applications_CreateApplication @ApplicationName, @ApplicationId = @ApplicationId OUTPUT
	Set @ApplicationAlreadyExists = 0
END
ELSE
	Set @ApplicationAlreadyExists = 1

/* ******************************************************* */
/* If Gallery Server Pro app doesn''t exist, create sys admin 
	 role and admin user; otherwise create the role and user
	 only if they don''t already exist. */
/* ******************************************************* */
IF(@ApplicationAlreadyExists = 0)
BEGIN
	/* ******************************************************* */
	--			Gallery Server Pro app exists
	--     Create system administrator role
	/* ******************************************************* */
	INSERT INTO [aspnet_Roles] ([RoleId], [ApplicationId], [RoleName], [LoweredRoleName], [Description])
	VALUES (newID(), @ApplicationId, @SysAdminRoleName, Lower(@SysAdminRoleName), @SysAdminRoleNameDescription)		

	/* ******************************************************* */
	--                     Create admin user
	/* ******************************************************* */
	Set @AdminUserId = newid()

	INSERT INTO [aspnet_Users] ([UserId], [ApplicationId], [UserName], [LoweredUserName], [MobileAlias], [IsAnonymous], [LastActivityDate]) 
		VALUES (@AdminUserId, @ApplicationId, @AdminUserName, Lower(@AdminUserName), NULL, 0, getdate())

	INSERT INTO [aspnet_Membership] ([ApplicationId], [UserId], [Password],     [PasswordFormat], [PasswordSalt],              [MobilePIN], [Email], [LoweredEmail], [PasswordQuestion], [PasswordAnswer], [IsApproved], [CreateDate], [LastLoginDate], [LastPasswordChangedDate], [Comment], FailedPasswordAnswerAttemptWindowStart, FailedPasswordAnswerAttemptCount, FailedPasswordAttemptWindowStart, FailedPasswordAttemptCount, LastLockoutDate, IsLockedOut) 
		VALUES (@ApplicationId, @AdminUserId,  @AdminPassword, @PasswordFormat,   N''DVZTktxeMzDtXR7eik7Cdw=='', NULL,       @AdminEmail,    NULL,            NULL,               NULL,            1,            getdate(),    getdate(),       getdate(),                 NULL,                 ''1753-01-01'',                              0,                               ''1753-01-01'',                       0,                          ''1753-01-01'',      0)

	/* ******************************************************* */
	-- Add new admin user to all roles for this application, which 
	-- will probably just be the system admin role we created.
	/* ******************************************************* */
	INSERT INTO aspnet_UsersInRoles (UserId, RoleId) 
	SELECT @AdminUserId, RoleId FROM aspnet_Roles WHERE ApplicationId = @ApplicationId

	/* ******************************************************* */
	-- Create gallery server role that applies to root album.
	/* ******************************************************* */
	INSERT INTO [gs_Role] (FKGalleryId, RoleName, AllowViewAlbumsAndObjects, AllowViewOriginalImage, AllowAddChildAlbum,
		AllowAddMediaObject, AllowEditAlbum, AllowEditMediaObject, AllowDeleteChildAlbum, AllowDeleteMediaObject, 
		AllowSynchronize, HideWatermark, AllowAdministerSite)
	VALUES (@GalleryId, @SysAdminRoleName, 1, 1, 1,	1, 1, 1, 1, 1, 1, 0, 1)
	
	INSERT INTO [gs_Role_Album] (FKRoleName, FKAlbumId)
	VALUES (@SysAdminRoleName, @RootAlbumId)
END
ELSE -- Gallery Server Pro app already exists (@ApplicationAlreadyExists = 1)
BEGIN
	-- Does admin user exist for this application? Create it if not. 
	Set @AdminUserId = NULL
	SELECT @AdminUserId = UserId FROM aspnet_Users WHERE (UserName = @AdminUserName) AND (ApplicationId = @ApplicationId)
	
	IF @AdminUserId = NULL
	BEGIN -- Admin user does not exist. Create it.
		Set @AdminUserId = newid()

		INSERT INTO [aspnet_Users] ([UserId], [ApplicationId], [UserName], [LoweredUserName], [MobileAlias], [IsAnonymous], [LastActivityDate]) 
			VALUES (@AdminUserId, @ApplicationId, @AdminUserName, Lower(@AdminUserName), NULL, 0, getdate())

		INSERT INTO [aspnet_Membership] ([ApplicationId], [UserId], [Password],     [PasswordFormat], [PasswordSalt],              [MobilePIN], [Email], [LoweredEmail], [PasswordQuestion], [PasswordAnswer], [IsApproved], [CreateDate], [LastLoginDate], [LastPasswordChangedDate], [Comment], FailedPasswordAnswerAttemptWindowStart, FailedPasswordAnswerAttemptCount, FailedPasswordAttemptWindowStart, FailedPasswordAttemptCount, LastLockoutDate, IsLockedOut) 
			VALUES (@ApplicationId, @AdminUserId,  @AdminPassword, @PasswordFormat,   N''DVZTktxeMzDtXR7eik7Cdw=='', NULL,       @AdminEmail,    NULL,            NULL,               NULL,            1,            getdate(),    getdate(),       getdate(),                 NULL,                 ''1753-01-01'',                              0,                               ''1753-01-01'',                       0,                          ''1753-01-01'',      0)
	END
	ELSE
	BEGIN -- Admin user exists. Make sure password matches the one passed to this procedure
		UPDATE aspnet_Membership
		SET Password = @AdminPassword, PasswordFormat = @PasswordFormat
		WHERE UserId = @AdminUserId
	END

	-- Does sys admin role exist for this application? Create it if not.
	IF NOT EXISTS(SELECT * FROM [aspnet_Roles] WHERE RoleName = @SysAdminRoleName AND ApplicationId = @ApplicationId)
		INSERT INTO [aspnet_Roles] ([RoleId], [ApplicationId], [RoleName], [LoweredRoleName], [Description])
			VALUES (newID(), @ApplicationId, @SysAdminRoleName, Lower(@SysAdminRoleName), @SysAdminRoleNameDescription)	
		 
	-- Make sure admin user is part of sys admin role.
	IF NOT EXISTS(SELECT aspnet_UsersInRoles.*
								FROM aspnet_UsersInRoles INNER JOIN aspnet_Roles ON aspnet_UsersInRoles.RoleId = aspnet_Roles.RoleId
								WHERE aspnet_UsersInRoles.UserId = @AdminUserId AND aspnet_Roles.RoleName = @SysAdminRoleName AND aspnet_Roles.ApplicationId = @ApplicationId)
		INSERT INTO aspnet_UsersInRoles (UserId, RoleId) 
		SELECT @AdminUserId, RoleId FROM aspnet_Roles WHERE RoleName = @SysAdminRoleName AND ApplicationId = @ApplicationId

	-- Make sure sys admin role is a gallery server role assigned to the root album.
	IF NOT EXISTS(SELECT * FROM [gs_Role] WHERE RoleName = @SysAdminRoleName AND FKGalleryId = @GalleryId)
		INSERT INTO [gs_Role] (FKGalleryId, RoleName, AllowViewAlbumsAndObjects, AllowViewOriginalImage, AllowAddChildAlbum,
			AllowAddMediaObject, AllowEditAlbum, AllowEditMediaObject, AllowDeleteChildAlbum, AllowDeleteMediaObject, 
			AllowSynchronize, HideWatermark, AllowAdministerSite)
		VALUES (@GalleryId, @SysAdminRoleName, 1, 1, 1,	1, 1, 1, 1, 1, 1, 0, 1)
	
	IF NOT EXISTS(SELECT * FROM [gs_Role_Album] WHERE FKRoleName = @SysAdminRoleName)
		INSERT INTO [gs_Role_Album] (FKRoleName, FKAlbumId)
		VALUES (@SysAdminRoleName, @RootAlbumId)
END	

IF @CreateSamples = 1
BEGIN
	DECLARE @newAlbumId int
	DECLARE @newMediaObjectId int
	
	/* Create an album called Samples. */
	INSERT [gs_Album] (AlbumParentId, FKGalleryId, Title, DirectoryName, Summary, ThumbnailMediaObjectId, Seq, DateStart, DateEnd, CreatedBy, DateAdded, LastModifiedBy, DateLastModified, OwnedBy, IsPrivate)
	VALUES (@RootAlbumId, @GalleryId, ''Samples'', ''Samples'', ''Death Valley'', 0, 1, GETDATE(), DATEADD(week, 2, GETDATE()), @AdminUserName, GETDATE(), @AdminUserName, GETDATE(), @AdminUserName, 0)

	SET @newAlbumId = SCOPE_IDENTITY()
	
	INSERT [gs_MediaObject] (HashKey, FKAlbumId, ThumbnailFilename, ThumbnailWidth, ThumbnailHeight,
	 ThumbnailSizeKB, OptimizedFilename, OptimizedWidth, OptimizedHeight, OptimizedSizeKB,
	 ExternalHtmlSource, ExternalType, OriginalFilename, OriginalWidth, OriginalHeight, OriginalSizeKB,
	 Title, Seq, CreatedBy, DateAdded, LastModifiedBy, DateLastModified, IsPrivate)
	VALUES (''7B-F7-3D-BA-F1-CC-26-62-8C-0C-CD-1D-53-09-CF-59'', @newAlbumId, ''zThumb_RogerMartin&Family.jpeg'', 114, 86,
	 4, ''RogerMartin&Family.jpeg'', 639, 479, 60,
	 '''', '''', ''RogerMartin&Family.jpeg'', 639, 479, 60,
	 ''Roger, Margaret and Skyler Martin (August 2008)'', 1, @AdminUserName, GETDATE(), @AdminUserName, GETDATE(), 0)
 
	SET @newMediaObjectId = SCOPE_IDENTITY()
	
	/* Set this new image as the thumbnail for the album */
	UPDATE [gs_Album] SET ThumbnailMediaObjectId = @newMediaObjectId WHERE AlbumId = @newAlbumId
END
RETURN
'
END
GO
/****** Object:  StoredProcedure [dbo].[gs_RoleUpdate]    Script Date: 09/06/2007 18:46:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[gs_RoleUpdate]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[gs_RoleUpdate] 
(
	@GalleryId int, @RoleName nvarchar(256), @AllowViewAlbumsAndObjects bit, @AllowViewOriginalImage bit,
	@AllowAddChildAlbum bit, @AllowAddMediaObject bit, @AllowEditAlbum bit, @AllowEditMediaObject bit,
	@AllowDeleteChildAlbum bit, @AllowDeleteMediaObject bit, @AllowSynchronize bit, @HideWatermark bit,
	@AllowAdministerSite bit
)
AS
SET NOCOUNT, XACT_ABORT ON

/* Update the specified role. If the role does not exist, assume it is new and call the insert proc. */
BEGIN TRAN
IF EXISTS (SELECT * FROM [gs_Role] WITH (UPDLOCK, HOLDLOCK) WHERE FKGalleryId = @GalleryId AND RoleName = @RoleName)
BEGIN
	UPDATE [gs_Role]
	SET AllowViewAlbumsAndObjects = @AllowViewAlbumsAndObjects,
		AllowViewOriginalImage = @AllowViewOriginalImage,
		AllowAddChildAlbum = @AllowAddChildAlbum,
		AllowAddMediaObject = @AllowAddMediaObject,
		AllowEditAlbum = @AllowEditAlbum,
		AllowEditMediaObject = @AllowEditMediaObject,
		AllowDeleteChildAlbum = @AllowDeleteChildAlbum,
		AllowDeleteMediaObject = @AllowDeleteMediaObject,
		AllowSynchronize = @AllowSynchronize,
		HideWatermark = @HideWatermark, 
		AllowAdministerSite = @AllowAdministerSite
	WHERE FKGalleryId = @GalleryId AND RoleName = @RoleName
END
ELSE
BEGIN
	EXECUTE [dbo].[gs_RoleInsert] 
		@GalleryId,
		@RoleName,
		@AllowViewAlbumsAndObjects,
		@AllowViewOriginalImage,
		@AllowAddChildAlbum,
		@AllowAddMediaObject,
		@AllowEditAlbum,
		@AllowEditMediaObject,
		@AllowDeleteChildAlbum,
		@AllowDeleteMediaObject,
		@AllowSynchronize,
		@HideWatermark,
		@AllowAdministerSite
END
COMMIT

RETURN
' 
END
GO
/****** Object:  Default [DF_gs_Album_Title]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_Album_Title]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_Album] ADD  CONSTRAINT [DF_gs_Album_Title]  DEFAULT ('') FOR [Title]

END
GO
/****** Object:  Default [DF_gs_Album_DirectoryName]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_Album_DirectoryName]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_Album] ADD  CONSTRAINT [DF_gs_Album_DirectoryName]  DEFAULT ('') FOR [DirectoryName]

END
GO
/****** Object:  Default [DF_gs_Album_Summary]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_Album_Summary]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_Album] ADD  CONSTRAINT [DF_gs_Album_Summary]  DEFAULT ('') FOR [Summary]

END
GO
/****** Object:  Default [DF_gs_Album_ThumbnailMediaObjectId]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_Album_ThumbnailMediaObjectId]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_Album] ADD  CONSTRAINT [DF_gs_Album_ThumbnailMediaObjectId]  DEFAULT ((0)) FOR [ThumbnailMediaObjectId]

END
GO
/****** Object:  Default [DF_gs_Album_IsPrivate]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_Album_IsPrivate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_Album] ADD  CONSTRAINT [DF_gs_Album_IsPrivate]  DEFAULT ((0)) FOR [IsPrivate]

END
GO
/****** Object:  Default [DF_gs_MediaObject_Title]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_Title]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_Title]  DEFAULT ('') FOR [Title]

END
GO
/****** Object:  Default [DF_gs_MediaObject_HashKey]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_HashKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_HashKey]  DEFAULT ('') FOR [HashKey]

END
GO
/****** Object:  Default [DF_gs_MediaObject_ThumbnailFilename]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_ThumbnailFilename]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_ThumbnailFilename]  DEFAULT ('') FOR [ThumbnailFilename]

END
GO
/****** Object:  Default [DF_gs_MediaObject_ThumbnailWidth]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_ThumbnailWidth]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_ThumbnailWidth]  DEFAULT ((0)) FOR [ThumbnailWidth]

END
GO
/****** Object:  Default [DF_gs_MediaObject_ThumbnailHeight]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_ThumbnailHeight]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_ThumbnailHeight]  DEFAULT ((0)) FOR [ThumbnailHeight]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OptimizedFilename]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OptimizedFilename]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_OptimizedFilename]  DEFAULT ('') FOR [OptimizedFilename]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OptimizedWidth]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OptimizedWidth]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_OptimizedWidth]  DEFAULT ((0)) FOR [OptimizedWidth]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OptimizedHeight]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OptimizedHeight]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_OptimizedHeight]  DEFAULT ((0)) FOR [OptimizedHeight]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OriginalFilename]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OriginalFilename]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_OriginalFilename]  DEFAULT ('') FOR [OriginalFilename]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OriginalWidth]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OriginalWidth]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_OriginalWidth]  DEFAULT ((0)) FOR [OriginalWidth]

END
GO
/****** Object:  Default [DF_gs_MediaObject_OriginalHeight]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_OriginalHeight]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_OriginalHeight]  DEFAULT ((0)) FOR [OriginalHeight]

END
GO
/****** Object:  Default [DF_gs_MediaObject_IsPrivate]    Script Date: 09/06/2007 18:46:11 ******/
IF Not EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_gs_MediaObject_IsPrivate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[gs_MediaObject] ADD  CONSTRAINT [DF_gs_MediaObject_IsPrivate]  DEFAULT ((0)) FOR [IsPrivate]

END
GO
/****** Object:  ForeignKey [FK_gs_Album_gs_Album]    Script Date: 09/06/2007 18:46:11 ******/
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_gs_Album_gs_Album]') AND type = 'F')
ALTER TABLE [dbo].[gs_Album]  WITH CHECK ADD  CONSTRAINT [FK_gs_Album_gs_Album] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[gs_Album] ([AlbumId])
GO
ALTER TABLE [dbo].[gs_Album] CHECK CONSTRAINT [FK_gs_Album_gs_Album]
GO
/****** Object:  ForeignKey [FK_gs_Album_gs_Gallery]    Script Date: 09/06/2007 18:46:11 ******/
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_gs_Album_gs_Gallery]') AND type = 'F')
ALTER TABLE [dbo].[gs_Album]  WITH CHECK ADD  CONSTRAINT [FK_gs_Album_gs_Gallery] FOREIGN KEY([FKGalleryId])
REFERENCES [dbo].[gs_Gallery] ([GalleryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[gs_Album] CHECK CONSTRAINT [FK_gs_Album_gs_Gallery]
GO
/****** Object:  ForeignKey [FK_gs_MediaObject_gs_Album]    Script Date: 09/06/2007 18:46:11 ******/
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_gs_MediaObject_gs_Album]') AND type = 'F')
ALTER TABLE [dbo].[gs_MediaObject]  WITH CHECK ADD  CONSTRAINT [FK_gs_MediaObject_gs_Album] FOREIGN KEY([FKAlbumId])
REFERENCES [dbo].[gs_Album] ([AlbumId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[gs_MediaObject] CHECK CONSTRAINT [FK_gs_MediaObject_gs_Album]
GO
/****** Object:  ForeignKey [FK_gs_MediaObjectMetadata_gs_MediaObject]    Script Date: 09/06/2007 18:46:11 ******/
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_gs_MediaObjectMetadata_gs_MediaObject]') AND type = 'F')
ALTER TABLE [dbo].[gs_MediaObjectMetadata]  WITH CHECK ADD  CONSTRAINT [FK_gs_MediaObjectMetadata_gs_MediaObject] FOREIGN KEY([FKMediaObjectId])
REFERENCES [dbo].[gs_MediaObject] ([MediaObjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[gs_MediaObjectMetadata] CHECK CONSTRAINT [FK_gs_MediaObjectMetadata_gs_MediaObject]
GO
/****** Object:  ForeignKey [FK_gs_Role_Album_gs_Album]    Script Date: 09/06/2007 18:46:11 ******/
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_gs_Role_Album_gs_Album]') AND type = 'F')
ALTER TABLE [dbo].[gs_Role_Album]  WITH CHECK ADD  CONSTRAINT [FK_gs_Role_Album_gs_Album] FOREIGN KEY([FKAlbumId])
REFERENCES [dbo].[gs_Album] ([AlbumId])
GO
ALTER TABLE [dbo].[gs_Role_Album] CHECK CONSTRAINT [FK_gs_Role_Album_gs_Album]
GO

/**********************************************************************/
/*               END SECTION 1 (AUTO-GENERATED OUTPUT)                */
/**********************************************************************/


/**********************************************************************/
/*                          BEGIN SECTION 2                           */
/*
SECTION 2: Create database role and configure permissions for this role. Then later
all we have to do is add the desired SQL user to this role. This script was manually
generated. */
/**********************************************************************/

/* Create SQL role that will have permission to execute Gallery Server related objects */
IF ( NOT EXISTS ( SELECT name
                  FROM sysusers
                  WHERE issqlrole = 1
                  AND name = N'gs_GalleryServerProRole'  ) )
EXEC sp_addrole N'gs_GalleryServerProRole'
GO

/* Grant permission to SQL role. */
GRANT EXECUTE ON [dbo].[gs_AlbumDelete] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_AlbumInsert] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_AlbumSelect] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_GallerySelect] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_AlbumUpdate] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_InitializeGalleryServerPro] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_MediaObjectDelete] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_MediaObjectInsert] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_MediaObjectMetadataDelete] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_MediaObjectMetadataDeleteByMediaObjectId] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_MediaObjectMetadataInsert] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_MediaObjectMetadataSelect] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_MediaObjectMetadataUpdate] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_MediaObjectSelect] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_MediaObjectSelectHashKeys] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_MediaObjectUpdate] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_Role_AlbumDelete] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_Role_AlbumInsert] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_Role_AlbumSelectAllAlbumsByRoleName] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_Role_AlbumSelectRootAlbumsByRoleName] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_RoleDelete] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_RoleInsert] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_RoleSelect] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_RoleUpdate] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_SearchGallery] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_SelectChildAlbums] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_SelectChildMediaObjects] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_SelectRootAlbum] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_SynchronizeSave] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_SynchronizeSelect] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_VerifyMinimumRecords] TO [gs_GalleryServerProRole]
GO
GRANT SELECT ON [dbo].[gs_func_convert_string_array_to_table] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_GetVersion] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_ExportMembership] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_ExportGalleryData] TO [gs_GalleryServerProRole]
GO
GRANT EXECUTE ON [dbo].[gs_DeleteData] TO [gs_GalleryServerProRole]
GO

IF EXISTS (SELECT * FROM dbo.sysusers WHERE name = N'aspnet_Membership_BasicAccess')
	EXEC dbo.sp_addrolemember @rolename=N'aspnet_Membership_BasicAccess', @membername=N'gs_GalleryServerProRole'
GO

IF EXISTS (SELECT * FROM dbo.sysusers WHERE name = N'aspnet_Membership_FullAccess')
	EXEC dbo.sp_addrolemember @rolename=N'aspnet_Membership_FullAccess', @membername=N'gs_GalleryServerProRole'
GO

IF EXISTS (SELECT * FROM dbo.sysusers WHERE name = N'aspnet_Membership_ReportingAccess')
	EXEC dbo.sp_addrolemember @rolename=N'aspnet_Membership_ReportingAccess', @membername=N'gs_GalleryServerProRole'
GO

IF EXISTS (SELECT * FROM dbo.sysusers WHERE name = N'aspnet_Profile_BasicAccess')
	EXEC dbo.sp_addrolemember @rolename=N'aspnet_Profile_BasicAccess', @membername=N'gs_GalleryServerProRole'
GO

IF EXISTS (SELECT * FROM dbo.sysusers WHERE name = N'aspnet_Profile_FullAccess')
	EXEC dbo.sp_addrolemember @rolename=N'aspnet_Profile_FullAccess', @membername=N'gs_GalleryServerProRole'
GO

IF EXISTS (SELECT * FROM dbo.sysusers WHERE name = N'aspnet_Profile_ReportingAccess')
	EXEC dbo.sp_addrolemember @rolename=N'aspnet_Profile_ReportingAccess', @membername=N'gs_GalleryServerProRole'
GO

IF EXISTS (SELECT * FROM dbo.sysusers WHERE name = N'aspnet_Roles_BasicAccess')
	EXEC dbo.sp_addrolemember @rolename=N'aspnet_Roles_BasicAccess', @membername=N'gs_GalleryServerProRole'
GO

IF EXISTS (SELECT * FROM dbo.sysusers WHERE name = N'aspnet_Roles_FullAccess')
	EXEC dbo.sp_addrolemember @rolename=N'aspnet_Roles_FullAccess', @membername=N'gs_GalleryServerProRole'
GO

IF EXISTS (SELECT * FROM dbo.sysusers WHERE name = N'aspnet_Roles_ReportingAccess')
	EXEC dbo.sp_addrolemember @rolename=N'aspnet_Roles_ReportingAccess', @membername=N'gs_GalleryServerProRole'
GO
/**********************************************************************/
/*                          END SECTION 2                             */
/**********************************************************************/
